<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trs.dao.InfoStatisMapper">
	<insert id="addInfoStatis" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO xwcmstatistics (STATISTICSID,DOCID, DOCTITLE,
		DOCCHANNEL,DOCPUBTIME,DOCCLICKDATE,DOCCLICKCOUNT)
		VALUES  
		(#{STATISTICSID}, #{DOCID},#{DOCTITLE}, #{DOCCHANNEL},#{DOCPUBTIME},
		#{DOCCLICKDATE},#{DOCCLICKCOUNT})
	</insert>
          
	<select id="selectDataStat" resultType="Info">
		SELECT
		SUM(xw.`DOCCLICKCOUNT`) FWCount FROM xwcmstatistics xw
		WHERE
		YEARWEEK(DATE_FORMAT(xw.`DOCCLICKDATE`,'%Y-%m-%d')-INTERVAL 1 DAY) =
		YEARWEEK(NOW())
		GROUP BY xw.`DOCCLICKDATE`
	</select>

	<select id="selectPubCount" resultType="Info">
		SELECT COUNT(xw.`DOCPUBTIME`) FBCount FROM xwcmstatistics xw 
		WHERE YEARWEEK(DATE_FORMAT(xw.`DOCPUBTIME`,'%Y-%m-%d')- INTERVAL 1 DAY) = YEARWEEK(NOW())
		GROUP BY DATE_FORMAT(xw.`DOCPUBTIME`,'%Y-%m-%d')
	</select>

	<select id="selectStartEndInfo" resultType="Info" parameterType="Date">
		SELECT DOCTITLE,DOCCLICKCOUNT,DOCPUBTIME FROM xwcmstatistics
		<where>
			<if test="startTime!=null and  startTime!=''">
				<![CDATA[ and DATE_FORMAT(DOCCLICKDATE, '%Y-%m-%d')>= DATE_FORMAT(#{startTime},'%Y-%m-%d') ]]>
			</if>
			<if test="endTime!=null and endTime!=''"> 
			 	<![CDATA[and DATE_FORMAT(DOCCLICKDATE, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d') ]]>
			</if>
		</where>
		ORDER BY `DOCCLICKCOUNT` DESC
		LIMIT 5
	</select>
</mapper>