<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trs.infostatis.dao.InfoStatisMapper">
	<insert id="addInfoStatis" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO xwcmstatistics (STATISTICSID,DOCID, DOCTITLE,
		DOCCHANNEL,DOCPUBTIME,DOCCLICKDATE,DOCCLICKCOUNT) VALUES
		(#{STATISTICSID}, #{DOCID},#{DOCTITLE}, #{DOCCHANNEL},#{DOCPUBTIME},
		#{DOCCLICKDATE},1)
		ON DUPLICATE KEY UPDATE STATISTICSID=#{STATISTICSID},DOCTITLE=#{DOCTITLE}, DOCCHANNEL=#{DOCCHANNEL},
		DOCCLICKDATE=#{DOCCLICKDATE},DOCCLICKCOUNT=DOCCLICKCOUNT+1
	</insert>

	<select id="selectDataStat" resultType="Info">		
		SELECT SUM(DOCCLICKCOUNT)as FWCount,DOCCLICKDATE FROM xwcmstatistics  
		<where>
			<![CDATA[DATE_SUB(CURDATE(), INTERVAL 7 DAY) <= DATE(DOCCLICKDATE)]]>
		</where>
		GROUP BY DATE_FORMAT(DOCCLICKDATE,'%Y-%m-%d') ASC
	</select>

	<select id="selectPubCount" resultType="Info">		
		SELECT  DOCPUBTIME, COUNT(*) AS FBCount
		FROM wcmdocument		
		<where>
			<![CDATA[DATE_SUB(CURDATE(),INTERVAL 7 DAY) <= DATE(DOCPUBTIME) ]]>
		</where>
		GROUP BY DATE_FORMAT(DOCPUBTIME,'%Y-%m-%d') ASC
	</select>

	<select id="selectStartEndInfo" resultType="Info" parameterType="Date">
		SELECT DOCTITLE,DOCCLICKCOUNT,DOCPUBTIME FROM xwcmstatistics
		<where>
			<if test="startTime!=null and  startTime!=''">
				<![CDATA[ and DATE_FORMAT(DOCCLICKDATE, '%Y-%m-%d')>= DATE_FORMAT(#{startTime},'%Y-%m-%d') ]]>
			</if>
			<if test="endTime!=null and endTime!=''"> 
			 	<![CDATA[and DATE_FORMAT(DOCCLICKDATE, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d') ]]>
			</if>
		</where>
		GROUP BY `DOCCLICKCOUNT` DESC
		LIMIT 5
	</select>
</mapper>